body {
    margin: 0 auto;
    font-size: 16px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.hide-display {
    display: none;
}

/*****MISC****/

header.header-logo {
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}

div,
section {
    margin-top: 80px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

img {
    height: 100px;
}

ul {
    list-style: none;
}



/*****NAVIGATION****/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

nav ul {
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 18px 15px;
    font-size: 17px;
}

li.nav-left {
    position: relative;
    right: 300px;
}


/*****LANDING PAGE*****/

div.start-page header {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.start-page {
    background: rgba(255, 0, 0, 0.25);
    background: url("./images/desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative;
    margin: 0;
}


h1.main-title {
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    padding-top: 50vh;
    margin: 0;
    color: #fff;
}

p.main-tagline {
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #999;
}

/*****ABOUT PAGE****/

.about-page {
    height: 100vh;
    margin-top: 50px;
    padding: 20px;
}

.about-page p {
    font-size: 20px;
}

.about-info h1 {
    font-size: 30px;
}

h1.about-page-header {
    font-size: 50px;
}

section.about-page {
    margin: 0 auto;
    text-align: center;
}

.about-page > div {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-align: center;
}

.about-info {
    height: 400px;
    margin: 10px;
    background-color: lightsteelblue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

/*****DASHBOARD*****/

h1.dashboard-header {
    font-size: 50px;
    color: steelblue;
}

div.dashboard-option {
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 30px;
}

.dashboard-tagline {
    font-size: 30px;
    font-weight: 700;
}

.dashboard-text {
    color: steelblue;
    font-weight: 300;
    font-size: 20px;
}

section.dashboard {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}

h1.dashboard-header {
    text-align: left;
    margin: 20px;
}

div.dash-buttons {
    margin: 0 auto;
    text-align: center;
}

button#logout {
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    background: lightsteelblue;
    box-shadow: 0 6px 3px -3px #D3D3D3;
    color: white;
    border: 0px;
}

button#dash-logout,
button#dash-back {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 20px;
    background: lightsteelblue;
    box-shadow: 0 6px 3px -3px #D3D3D3;
    color: white;
    border: 0px;
}

/*****LIFESTYLE DATA*****/

.icon-header {
    display: inline-block;
    float: left;
    height: 125px;
    margin-right: 20px;
    margin-left: 20px;
    width: auto;

}

#navbar ul li {
    padding: 5px;
}

.lifestyle-data h1,
h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.lifestyle-data h2 {
    font-weight: 300;
    font-size: 20px;
    color: steelblue;
}

div.data-controls {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

div.data-controls span,
form {
    display: inline-block;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.view-container a {
    color: lightslategray;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    margin: 30px auto;
    width: 80%;
}

table th {
    background-color: white;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    color: black;
    font-size: 20px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
}

table td {
    border-bottom: 1px solid black;
    font-size: 15px;
    padding: 10px 5px;
    text-align: left;
    vertical-align: middle;
}

button.search {
    padding: 5px;
    margin-left: 5px;
    background: lightsteelblue;
    color: white;
    border: 0px;
    height: 30px;
    vertical-align: top;
}

input {
    height: 30px;
    border: 1px lightslategrey solid;
    padding: 10px;
}

img.icon {
    height: 25px;
}

/*****FORMS*****/

#sign-in-form,
#sign-up-form,
.add-entry,
#finance-entry,
#health-entry,
#fitness-entry,
#transport-entry,
#add-entry-finance,
#add-entry-health,
#add-entry-fitness,
#add-entry-transport {
    text-align: center;
}


form h2 {
    color: steelblue;
}

form h1 {
    margin-bottom: 0;
}

h2.add-entry-new {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
}

input {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: 700;
}

.sign-in-submit,
.sign-up-submit,
.add-submit,
.back-button {
    margin-bottom: 10px;
    margin-top: 20px;
    border: 0px;
    background: lightsteelblue;
    box-shadow: 0 6px 3px -3px #D3D3D3;
    color: white;
    height: 40px;
}

select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

input#finance-notes,
input#health-notes,
input#fitness-notes,
input#transport-notes {
    width: 300px;
    height: 100px;
}

/*****VIEW ENTRY FORM*****/

#finance-entry h3,
#finance-entry p,
#health-entry h3,
#health-entry p,
#fitness-entry h3,
#fitness-entry p,
#transport-entry h3,
#transport-entry p {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
}

#finance-entry h3,
#health-entry h3,
#fitness-entry h3,
#transport-entry h3 {
    color: steelblue;
}

#finance-entry h2,
#health-entry h2,
#fitness-entry h2,
#transport-entry h2 {
    margin-bottom: 20px;
}

/*****FOOTER*****/

footer {
    background: #ccc;
    height: 7vh;
    padding: 10px;
    text-align: center;
}


/*****RESPONSIVE*****/

* {
    box-sizing: border-box;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .col-3 {
        width: 30%;
        display: inline-block;
        vertical-align: text-top;
    }
}
